In [1]:
# Importing libraries needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load the data
train=pd.read_csv("train_v9rqX0R.csv")
test=pd.read_csv("test_AbJTz2l.csv")

In [3]:
# Vizualizing Dataset

print(train.shape)
print(test.shape)
train.head()

(8523, 12)
(5681, 11)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
# List of unique products
len(train["Item_Identifier"].unique())

1559

In [5]:
#Data Description
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [6]:
# Finding number of null values in each column
train.isna().sum()
#item_weight and outlet_size has null values

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
# Categories columns
cat_cols=train.select_dtypes("object").columns
numerical_cols=train.select_dtypes("number").columns

In [8]:
#get all the Unique values of Categorical column
for i in cat_cols:
    print(i)
    print(train[i].unique(),len(train[i].unique()))
    print("---------------------------------")

Item_Identifier
['FDA15' 'DRC01' 'FDN15' ... 'NCF55' 'NCW30' 'NCW05'] 1559
---------------------------------
Item_Fat_Content
['Low Fat' 'Regular' 'low fat' 'LF' 'reg'] 5
---------------------------------
Item_Type
['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood'] 16
---------------------------------
Outlet_Identifier
['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019'] 10
---------------------------------
Outlet_Size
['Medium' nan 'High' 'Small'] 4
---------------------------------
Outlet_Location_Type
['Tier 1' 'Tier 3' 'Tier 2'] 3
---------------------------------
Outlet_Type
['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3'] 4
---------------------------------

['Low Fat', 'Regular', 'low fat', 'LF', 'reg'] - LF, low fat and Low Fat are same while reg and Regular are same

In [9]:
train.replace({'reg':'Regular','low fat':'Low Fat','LF':'Low Fat'})
test.replace({'reg':'Regular','low fat':'Low Fat','LF':'Low Fat'})

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,Regular,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [10]:
train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
train_data=pd.DataFrame()
for item in list(set(train["Item_Identifier"])):
    temp=train.loc[train["Item_Identifier"]==item].copy()
    
    temp["Item_Weight"].fillna(temp["Item_Weight"].mean(),inplace=True)
    train_data=train_data.append(temp)
    
print(train_data.shape)
train_data

(8523, 12)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4815,FDD33,12.85,Low Fat,0.108633,Fruits and Vegetables,233.8642,OUT018,2009,Medium,Tier 3,Supermarket Type2,2323.6420
5326,FDD33,12.85,Low Fat,0.108412,Fruits and Vegetables,233.2642,OUT045,2002,NaN,Tier 2,Supermarket Type1,3950.1914
5494,FDD33,12.85,Low Fat,0.000000,Fruits and Vegetables,231.9642,OUT027,1985,Medium,Tier 3,Supermarket Type3,6970.9260
7350,FDD33,12.85,Low Fat,0.108103,Fruits and Vegetables,233.3642,OUT013,1987,High,Tier 3,Supermarket Type1,3950.1914
3817,FDG32,19.85,LF,0.176991,Fruits and Vegetables,221.5772,OUT017,2007,NaN,Tier 2,Supermarket Type1,3558.0352
...,...,...,...,...,...,...,...,...,...,...,...,...
2383,FDH14,17.10,Regular,0.046881,Canned,141.3838,OUT049,1999,Medium,Tier 1,Supermarket Type1,1685.8056
3578,FDH14,17.10,Regular,0.046903,Canned,142.0838,OUT045,2002,NaN,Tier 2,Supermarket Type1,2528.7084
6501,FDH14,17.10,Regular,0.047073,Canned,138.6838,OUT017,2007,NaN,Tier 2,Supermarket Type1,2950.1598
7143,FDH14,17.10,Regular,0.081956,Canned,142.0838,OUT019,1985,Small,Tier 1,Grocery Store,280.9676
7689,FDH14,17.10,Regular,0.078348,Canned,141.8838,OUT010,1998,NaN,Tier 3,Grocery Store,280.9676

In [12]:
test_data=pd.DataFrame()
for item in list(set(test["Item_Identifier"])):
    temp=test.loc[test["Item_Identifier"]==item].copy()
    temp["Item_Weight"].fillna(temp["Item_Weight"].mean(),inplace=True)
    test_data=test_data.append(temp)
print(test_data.shape)

(5681, 11)

In [13]:
train_data.isna().sum()

Item_Identifier                 0
Item_Weight                     4
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [14]:
test_data.isna().sum()

Item_Identifier                 0
Item_Weight                    20
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [15]:
products=list(train_data[train_data["Item_Weight"].isnull()]["Item_Identifier"])
products

['FDQ60', 'FDK57', 'FDE52', 'FDN52']

In [16]:
test_products=list(test_data[test_data["Item_Weight"].isnull()]["Item_Identifier"])
len(test_products)

20

In [39]:
product_weight_test=[]
for item in test_products:
    product_weight_test.append(train[train["Item_Identifier"]==item].iloc[0]["Item_Weight"])
dictionary=dict(zip(test_products,product_weight_test))

In [40]:
dictionary

{'FDT21': 7.42,
 'FDI45': 13.1,
 'FDG09': 20.6,
 'FDF22': 6.865,
 'FDG57': 14.7,
 'FDO22': 13.5,
 'FDG50': 7.405,
 'DRN47': 12.1,
 'FDJ09': 15.0,
 'FDY57': 20.2,
 'FDF04': 17.5,
 'FDP28': 13.65,
 'NCJ30': 5.82,
 'FDF05': 17.5,
 'FDL58': 5.78,
 'FDH58': 12.3}

In [41]:
product_weight=[]
for item in products:
    product_weight.append(test[test["Item_Identifier"]==item].iloc[0]["Item_Weight"])
dictionary1=dict(zip(products,product_weight))

In [42]:
dictionary1

{'FDQ60': 6.195, 'FDK57': 10.195, 'FDE52': 10.395, 'FDN52': 9.395}

In [25]:
train_data[train_data["Item_Identifier"]=="FDN52"]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564

In [43]:
train_data.loc[train_data["Item_Weight"].isnull(),"Item_Weight"]=train_data["Item_Identifier"].map(dictionary1)

In [47]:
test_data.loc[test_data["Item_Weight"].isnull(),"Item_Weight"]=test_data["Item_Identifier"].map(dictionary)

In [48]:
test_data.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [50]:
train_data[train_data["Outlet_Size"].isnull()]["Outlet_Type"].unique()

# only two type of Outlet size have null value in Outlet_size

array(['Supermarket Type1', 'Grocery Store'], dtype=object)

In [53]:
# checking which Outlet_size is more in Supermarket Type1
train_data[train_data["Outlet_Type"]=='Supermarket Type1'].groupby("Outlet_Size").count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Size,,,,,,,,,,,
High,932,932,932,932,932,932,932,932,932,932,932
Medium,930,930,930,930,930,930,930,930,930,930,930
Small,1860,1860,1860,1860,1860,1860,1860,1860,1860,1860,1860

In [54]:
# checking which Outlet_size is more in Grocery Store
train_data[train_data["Outlet_Type"]=='Grocery Store'].groupby("Outlet_Size").count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Size,,,,,,,,,,,
Small,528,528,528,528,528,528,528,528,528,528,528