In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer

In [5]:
test_data=pd.read_csv("test_lAUu6dG.csv")
test_data.drop(labels="Loan_ID",inplace=True,axis=1)

In [8]:
test_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [6]:
test_data["Gender"].fillna(value="Male",inplace=True)
test_data["Married"].fillna(value="Yes",inplace=True)
test_data["Dependents"].fillna(value="0",inplace=True)
test_data["Self_Employed"].fillna(value="No",inplace=True)

In [7]:
test_data[category_columns[0]]          =test_data[category_columns[0]].replace({"Female" : 0 ,"Male" : 1})
test_data[category_columns[1]]          =test_data[category_columns[1]].replace({"No":1,"Yes":2})
test_data[category_columns[2]]          =test_data[category_columns[2]].replace({'0':0,'1':1,'2':2,'3+':3})
test_data[category_columns[3]]          =test_data[category_columns[3]].replace({"Graduate" : 1,"Not Graduate" : 2})
test_data[category_columns[4]]          =test_data[category_columns[4]].replace({"No":1,"Yes":2})
test_data[category_columns[5]]          =test_data[category_columns[5]].replace({'Urban':1,'Rural':2,'Semiurban':3})
test_data[category_columns[6]]          =test_data[category_columns[6]].replace({"Y":1,"N":0})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             367 non-null    object
 1   Married            367 non-null    object
 2   Dependents         367 non-null    object
 3   Education          367 non-null    object
 4   Self_Employed      367 non-null    object
 5   ApplicantIncome    367 non-null    int64
 6   CoapplicantIncome  367 non-null    int64
 7   LoanAmount         362 non-null    float64
 8   Loan_Amount_Term   361 non-null    float64
 9   Credit_History     338 non-null    float64
 10  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 31.7+ KB

In [ ]:
test_data.drop(labels=["Gender","Self_Employed"],axis=1,inplace=True)

In [ ]:
test_data["LoanAmount"].fillna(test_data["LoanAmount"].median(),inplace=True)
test_data["Credit_History"].fillna(1.0,inplace=True)
test_data["Loan_Amount_Term"].fillna(360.0,inplace=True)

In [ ]:
quantile_labels = ['25', '50', '75', '100']
quantiles_range=[0,.25,.5,.75,1.]
# quantiles_applicantIncome_test=test_data["ApplicantIncome"].quantile(quantiles_range)
# quantiles_coapplicantIncome_test=test_data["CoapplicantIncome"].quantile(quantiles_range)
# quantiles_LoanAmount_test=test_data["LoanAmount"].quantile(quantiles_range)
test_data["ApplicantIncome_quantile"]=pd.qcut(test_data["ApplicantIncome"],q=quantiles_range,labels=quantile_labels)
test_data["CoapplicantIncome_quantile"]=pd.qcut(test_data["CoapplicantIncome"],q=quantiles_range,labels=quantile_labels[1:],duplicates="drop")
test_data["LoanAmount_quantile"]=pd.qcut(test_data["LoanAmount"],q=quantiles_range,labels=quantile_labels)

In [ ]:
test_data["ApplicantIncome_quantile"]           =pd.to_numeric(test_data["ApplicantIncome_quantile"])
test_data["CoapplicantIncome_quantile"]         =pd.to_numeric(test_data["CoapplicantIncome_quantile"])
test_data["LoanAmount_quantile"]                =pd.to_numeric(test_data["LoanAmount_quantile"])

In [ ]:
std_scl=StandardScaler()
test_scl=pd.DataFrame(std_scl.fit_transform(test_data[cols]),columns=cols)
test_scl["Loan_Status"]=test_data["Loan_Status"]